body {
    background-image: url(bck.png);
    background-position: left top;
    background-repeat: repeat-x;
    background-color: #cfe0ed;
    text-align: center;
    font-size: 11px;
    font-family: 'trebuchet ms', arial, verdana, sans-serif;
    padding: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}

header {
    display: block;
    width: 774px;
    height: 30px;
    background: url("webJS.png") no-repeat scroll 0 10px transparent;
    font: 18px/30px "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
    padding: 15px 0 1px 0;
    text-align: right;
    color: #333;
    text-shadow: 0 1px 0 #EEF;
    margin: auto;
}

section {
    display: block;
    width: 754px;
    padding: 20px;
    background: white;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin: auto;
    text-align: left;
    font: 12px/1.5 "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
}

section h3 {
    color: #000;
    font-size: 14px;
    line-height: 12px;
    padding: 0;
    margin: 3px 0 2px 0;
}

nav {
    float: left;
    text-align: left;
    position: relative;
    top: -10px;
    left: 100px;
}

nav ul {
    list-style: none outside none;
    font-size: 12px;
}

nav ul li {
    display: inline;
    float: left;
    margin: 0 0 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #007000;
}

footer {
    color: #A5C2D4;
    font-size: 10px;
    font-weight: bold;
    margin: 4px auto 0;
    text-align: center;
    width: 780px;
}

table.form {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #3a3;
    margin: 20px;
}

table.form tr td {
    text-align: right;
    padding: 2px;
}

table.form tr th {
    text-align: center;
    font-size: 13px;
}

table.form tr td input[type="text"] {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: none;
    padding: 2px;
}

table.form tr td input[type="checkbox"] {
    text-align: left;
}

table.form tr td select {
    text-align: left;
    width: 100%;
}

table.form tr td button {
    color: #007000;
    width: 100%;
}

.important, .description {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    padding: 20px;
    margin: 10px 0 10px 0;
}

.important {
    background-color: #FF7777;
}

.description {
    background-color: #99FF99;
}
